<template name="projects">
    <div class="container container-projects">
        {{#if currentUser}}
        <div class="row">
            <div class="col-md-6">
                <div class="full-width right clearfix">
                    <h2>Projects <button class="btn btn-primary right" data-action="create" aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></h2>
                    <ul class="list-group">
                        {{#each projects}}
                        <li class="list-group-item project">
                            <a class="clearfix" href="/project/{{_id}}">
                                <span class="project-name">{{name}}</span>
                                <span class="col-xs-4 project-info">Errors: {{nbErrors}}</span>
                                <span class="col-xs-4 project-info">Domains: {{nbDomains}}</span>
                                <span class="col-xs-4 project-info">Exclude rules: {{nbExclusions}}</span>
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                    <p><button class="btn btn-primary" data-action="create" aria-label="Left Align"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new project</button></p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>

    <div id="overlay-create" class="overlay overlay-simplegenie">
        <div class="overlay-container">
            <div class="overlay-content">
                <button type="button" class="overlay-close" data-action="overlay-close">Close</button>
                {{> [project-create]}}
            </div>
        </div>
    </div>
</template>
