<template name="reset-password">
    <div class="container container-settings">
        <h1>Change password</h1>
        <form class="form-inline">
            <div class="form-group">
                <input type="password" name="password" placeholder="New password" class="form-control"><br />
                <input type="password" name="password-confirm" placeholder="Confirm new password" class="form-control">
            </div>
            <div class="form-group">
                <button role="button" class="btn btn-primary" data-action="change-password">Submit</button>
            </div>
        </form>
    </div>
</template>
